# Python / FastAPI (backend)
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/database.db # Если вы использовали SQLite локально и не хотите его коммитить

# Node.js / React / Vite (frontend)
frontend/node_modules/
frontend/dist/
!frontend/.env.example 
frontend/.DS_Store
frontend/coverage/
frontend/.vite/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Общее
.idea/
.vscode/
*.swp
*.swoenv.development
